
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model Vatan.Models.VM.ProductVM
<h1>Edit</h1>

<form action="/Product/Edit" method="post">
    @Html.ValidationSummary()

    @await Html.PartialAsync("Partial/ProductForm")

    @Html.HiddenFor(q => q.ID)


    <button type="submit" class="btn btn-primary">Submit</button>
</form>

