
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model Vatan.Models.VM.CategoryVM

<h1>Category ADD Page</h1>

<form action="/Category/Add" method="post">
    @Html.ValidationSummary()

    @await Html.PartialAsync("Partial/CategoryForm")

    <button type="submit" class="btn btn-primary">Submit</button>
</form>



