
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model Vatan.Models.VM.CategoryVM
<h1>Edit</h1>

<form action="/Category/Edit" method="post">
    @Html.ValidationSummary()

    @await Html.PartialAsync("Partial/CategoryForm")

    @Html.HiddenFor(q => q.ID)


    <button type="submit" class="btn btn-primary">Submit</button>
</form>

