
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model Vatan.Models.VM.UserVM




<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Add User</h4>
                <p class="card-category">Create a user</p>
            </div>
            <div class="card-body">
                <form action="/User/Add" method="post">

                    @*@Html.ValidationSummary()*@
                    @await Html.PartialAsync("Partial/UserForm")

                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>



